<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Map filter</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/svg+xml" href="./logo.svg">

</head>
<body>
    
    <div class="container" data-m-area="main">
        <div id="chartdiv"></div>

        <div class="m-container">

            <div class="m-top-filter">
                <div class="m-top-filter--search">
                    <input type="text" data-m-area="search" name="m-search" class="m-filter-search" placeholder="Search">
                </div>
                <div class="m-top-filter--search">
                    <select name="city" data-m-area="cities"></select>
                </div>
                <div class="m-top-filter--search">
                    <select name="state" data-m-area="states"></select>
                </div>
            </div>

            <div class="m-table">
                <div class="m-thead">
                    <div class="m-thead-th name">IVF Center</div>
                    <div class="m-thead-th phone">Phone</div>
                    <div class="m-thead-th website">Website</div>
                    <div class="m-thead-th city">City</div>
                    <div class="m-thead-th state">State</div>
                </div>
                <div class="m-tbody" data-m-area="map-area"></div>
            </div>
        </div>
    </div>

    <script src="./js/lib.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>