body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.m-container {
  margin: 50px 0;
}

.m-top-filter {
  display: flex;
  justify-content: space-between;
}

.m-table {

  .m-thead {
    display: flex;
    font-weight: bold;
  }
}

.mo-item {
  display: flex;
}

.mo-item-cell,
.m-thead-th {
  &.name    { width: 42% }
  &.phone   { width: 14% }
  &.website { width: 25% }
  &.city    { width: 13% }
  &.state   { width:  6% }
}